<section class="container">
<article class="users-article">
<div class="photo"><%= @user.photo %></div>
<div class="details">
 <h2><%= @user.name %></h2>
  <p>Number of posts: <%= @user.posts_counter %></p>
</div>
</article>

<% @posts.each do |post| %>
    <article class="post-comment">
    <%= render partial: 'posts_details', locals: { post: post } %>

  <div class="comment-cont">
  <% post.recent_comments.each do |comment| %>
    <p><%= @user.name %>: <%= comment.text %></p>
    <% end %>
  </div>
  
  </article>
  <% end %>
  <div class="new-post">
  <p><%= link_to "Add Post", new_post_url %><p>
  </div>

    <button type="button" class="pagination">Pagination</button>
</section>