<section class="post-container">
<article class="post-comments">
<div class="post-head">
  <div class="left">
    <h4>Post  #<%= @post.id %><h4>
    <p>by <%= @user.name %></p>
 </div>
 <div>
<span>Comments: <%= @post.comments.size %> Likes:<%= @post.likes.size %></span>
</div>
</div>
<div class="post-body">
<h4><%= @post.text %></h4>
</div>

</article>
<div class="comments-container">
<% @post.comments.each do |comment| %>
    <p><%= comment.user.name %>: <%= comment.text %></P>
    <% end %>
    <p class="add-p"><%= link_to "Add Comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id) %>
</div>

<div class="like">
<%= form_with url: user_post_likes_path(@post.author, @post), method: :post do |form| %>
  <%= form.submit "Like", class:"like-btn"%>
<% end %>
</div>
</section>